/* GENERIC RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* header */
header{
  height: 500px;
  color: white;
  background-color: #0C325A;
}

nav, .box{
  margin: auto;
}

nav{
  height: 40px;
  padding: 20px 0;
}

.box{
  width: 65%;
  height: 100%;
  position: relative;
}

header .box{
  background-image: url('../img/background-header.png');
  background-size: 75%;
  background-position: 120% 100%;
  background-repeat: no-repeat;
}

nav img{
 width: 120px;
 vertical-align: middle;
}

nav ul, nav li{
  display: inline-block;
}

nav ul{
  margin: 0 50px;
}

nav li{
  margin: 0 10px;
}

nav li:first-child{
  margin-left: 0
}

nav a{
  text-decoration: none;
  font-size: 10px;
  color: inherit;
}

nav div{
  height: 100%;
  float: right;
  line-height: 40px;
}

header button{
  font-size: 10px;
  color: white;
  border-radius: 4px;
}

button[name=login]{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  margin: 0 20px;
  padding: 5px 20px;
}

button[name=piano]{
  background-color: #7CBB02;
  border: none;
  padding: 5px 10px;
}

.title{
  width: 50%;
  position: absolute;
  top: 200px;
}

.title h1{
  font-size: 45px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.title button{
  padding: 20px;
  font-size: 12px;
}

/* MAIN */
main{
  color: grey;
}

/* sub-header */
section h3{
  color: black;
  margin-bottom: 10px;
}

section div:not(.box){
  width: 65%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section:first-child{
  height: 120px;
  background-color: lightgrey;
}

/* three-colums section */
#first, #second{
  margin: 50px 0;
}

aside{
  float: left;
  text-align: center;
}

#first aside{
  width: 30%;
  padding: 0 10px;
}

#first aside:nth-child(2){
  margin: 0 5%;
}


#first aside img{
  height: 150px;
  margin-bottom: 20px;
}

aside h3{
  color: #7CBB02;
  font-weight: 500;
}

#second aside{
  width: 35%;
  margin: 0 calc(30% / 4);
}

#second aside:last-child{
  text-align: left;
}

h2{
  color: black;
  font-size: 32px;
  line-height: 1.5em;
}

aside hr{
  width: 75px;
  margin: 20px auto;
  color: grey;
}

aside p{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 20px 0;
}

section:after{
  content: '';
  display: table;
  clear: both;
}

/* footer */
footer{
  height: 150px;
  background-color: #D3D3D3;
  position: relative;
}

footer .box>*{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer h2{
  display: inline-block;
}

#cta{
  float: right;
}

footer span{
  color: #808080;
  display: inline-block;
}

#search{
  width: 150px;
  margin: 0 15px;
  border-bottom: 1px solid #808080;
}

.fa-sort-down{
  float: right;
}

footer a{
  text-decoration: none;
  color: white;
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #7CBB02;
}

#help{
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 440px;
}
